<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <a href='/' id='home-link'> <i class="fas fa-home fa-2x"></i></a>
  <div id='login'> 
    <% if (user) { %>
      <a class='btn btn-primary' href="/auth/logout" role='button' id='logout-btn'>Logout</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </div>
</nav>
