main {
    background-color: #64BEB2;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Eczar', serif;
}

.card {
    border-color: transparent;
    background-color: transparent;
}

.card-img-top {
    border: 3px solid black;
    border-radius: 50%;
}

.card-body {
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 3px;
    padding: 3px;
}

.card-title {
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: 'Eczar', serif;
    margin-top: 5px;
    
}

.col {
    margin: 10px;
}