.profile-avatar {
    border: 3px solid black;
    border-radius: 50%;
    margin: 12px;
}

h1 {
    font-size: 48px;
    font-family: 'Eczar', serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-family: 'Eczar', serif;
}

h4 {
    font-size: 16px;
    font-family: 'Eczar', serif;
}

.gift-link {
    text-align: center;
    background-color: white;
    width: 450px;
    height: 36px;
    margin: 4px;
    background: #376474;
    border: 2px solid black;
    border-radius: 5px;
}

.gift-link > a{
    color: #00BBE0;
    font-size: 24px;
    font-family: 'Eczar', serif;
    text-decoration: none;
}

.gift-link > a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #9CE2FC;
}

#gift-form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 100vw;
}

#gift-form > h2 {
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-family: 'Eczar', serif;
}

input, textarea {
    margin: 5px;
    border: 3px solid black;
    border-radius: 4px;
    font-family: 'Eczar', serif;
}

#add-gift {
    font-family: 'Eczar', serif;
    font-size: 24px;
    background-color: #3F818D;
    color: white;
    height: 50px;
    width: 150px;
    border: 3px solid white;
    border-radius: 4px;
    margin-top: 5px;
}

#add-gift:hover {
    text-decoration: underline;
}