<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div id='sites-container'>
    <p>Click This Icon To View People's Site Reccommendations!</p>
    <a href="/sites"><i class="fas fa-store-alt"></i></a>
  </div>
  <h1 id='home-title'>Welcome to Gifts For Good</h1>
  <div id='profile-container'>
    <p>Click This Icon To View People's Wish Lists!</p>
    <a href="/profiles"><i class="fas fa-users"></i></a>
  </div>
</main>

<%- include('./partials/footer') %>
