<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div id='sites-container'>
    <a href="/sites"><i class="fas fa-store-alt"></i></a>
  </div>
  <h1 id='home-title'>Welcome to ....</h1>
  <div id='profile-container'>
    <a href="/profiles"><i class="fas fa-users"></i></a>
  </div>
</main>

<%- include('./partials/footer') %>
