<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sites/new.css">
<%- include('../partials/nav') %>

<section>
    <h1>Website Recommendation</h1>
    <form action='/sites' method='POST'>
        <p>
            <label>
                Website Name:
                <br />
                <input type='text' name='name' autocomplete='off' size='40' maxlength='15'>
            </label>
        </p>
        <p>
            <label>
                Add A Description:
                <br />
                <textarea name='description' rows='5' cols='50' maxlength='150'></textarea>
            </label>
        </p>
        <p>
            <label>
                Add the Link:
                <br />
                <input type='url', name='url' placeholder='https://example.com' pattern='https://.*' size='35'>
            </label>
        </p>
        <br />
        <p>
            <button type='submit' class='btn btn-secondary btn-large' id='add-btn'>Add Site</button>
        </p>
    </form>
</section>

<%- include('../partials/footer') %>