html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  height: 70px;
  font-size: 1.6rem;
  display: flex;
}

#home-link {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  justify-content: left;
  size: 40px;
} 

#login {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  justify-content: right;
  position: absolute;
  right: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#home-title {
  font-size: 5.6rem;
  align-self: flex-start;
}

#profile-container {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  /* margin-left: 60px; */
}

#sites-container {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  /* margin-right: 60px; */
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}