#edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-title {
    font-size: 48px;
    font-family: 'Eczar', serif;
}

p.site-edit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    font-family: 'Eczar', serif;
}

.input {
    border: 3px solid black;
    border-radius: 4px;
    font-family: 'Eczar', serif;
}

#done-btn {
    font-family: 'Eczar', serif;
    font-size: 24px;
    background-color: #3F818D;
    color: white;
    height: 50px;
    width: 150px;
    border: 3px solid white;
    border-radius: 4px;
}

#done-btn:hover {
    text-decoration: underline;
}