section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: black;
    font-size: 48px;
    font-family: 'Eczar', serif;
}

h2 {
    color: black;
    font-family: 'Eczar', serif;
    margin-top: 10px;
}

h2 > a {
    color: black;
}

h3 {
    color: black;
    font-size: 36px;
    margin-top: 70px;
    font-family: 'Eczar', serif;
}

#sites-list {
    display: inline-flex;
    flex-wrap: wrap;
}

li {
    margin: 30px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 42%, rgba(63,129,141,1) 64%, rgba(0,212,255,1) 71%);
    height: 70px;
    width: 120px;
    border: 3px solid #3F818D;
    border-radius: 25px;
}

li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 18px;
}

li > a:hover {
    color: #4EC16E;
}