section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
}

p {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

input {
    border: 3px solid black;
    border-radius: 4px;
}

textarea {
    border: 3px solid black;
    border-radius: 4px;
}

#add-site {
    font-size: 24px;
    color: black;
    height: 50px;
    width: 150px;
    border: 3px solid black;
    border-radius: 4px;
}
